name: Build APK

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
        channel: 'stable'
    
    - name: Get dependencies
      run: flutter pub get
      working-directory: ./mobile_app

    - name: Create Android files
      run: flutter create . --org com.alchat --project-name al_chat
      working-directory: ./mobile_app
    
    - name: Build APK
      run: flutter build apk --release
      working-directory: ./mobile_app
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: mobile_app/build/app/outputs/flutter-apk/app-release.apk
